$black: #000;
$light-black: #0f0e0e;
$lighter-black: #252525;

$white: #fff;
$darker-blue: #000000b3;

$grey: #7d7d7d;
$dark-grey: #dcdde0;
$light-grey: #dcdfe2;
$lighter-grey: #eeeff2;


$nobel-grey: #a0a0a0;

$light-brown: #ae8353;
$dark-brown: #977248;



$flex-basis-1-12: calc(100%/12);
$width-1-12: calc(100%/12);
$font-family: '';


$base-z-index: 1;
